body {
  font-family: 'Lato', sans-serif;
  background-color: #FFCE8E;
}

ul {
  margin: 0;
}

 header {
   background: #4bbf6b;
   min-height: 150px;
 }

nav {
  display: flex;
  justify-content: flex-end;
}

li {
    text-align: center;
    border-radius: 3px;
    display: inline;
    padding: 10px;
}

nav li:last-child {
  margin-right: 10px;
}

li a {
  display: inline-block;
  color: #FFF;
  padding: 20px 20px;
}




/*///////////////////////////////////
Team Page
//////////////////////////////////*/

.teamPhoto {
  display: block;
  max-width: 150px;
  margin: 10px 30px;
  border-radius: 100%;
  float: left;
}

.teamTitle {
  text-align: center;
}

.teamSection {
  margin: auto;
  padding: 20px;
  width: 50%;
  font-weight: bold;
  background: rgba(255,255,255,0.4)
}

.teamBody {
  background: linear-gradient(#FFCE8E, transparent 90%),
  #FFCE8E url(images/forest.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

/*///////////////////////////////////
Mission Page
//////////////////////////////////*/

.missionSection {
  font-size: 20px;
  width: 50%;
}