* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

ul {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

 .navBar {
   background: #4bbf6b;
   z-index: 100;
   position: fixed;
   width: 100%;
   border-bottom: 1px solid #5f5f5f;
 }

nav {
  display: inline-block;
  width: 70%;
}

li {
    text-align: center;
    list-style-type: none;
    border-radius: 3px;
    display: inline;
    padding: 10px;
}

li a {
  text-decoration: none;
  display: inline-block;
  color: #FFF;
  padding: 20px 10px;
}

li a:hover {
  color: #5f5f5f;
}

.logo{
 width: 20%;
 display: inline-block;
 margin-left: 5%;
}

#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: #5f5f5f url(images/menu-icon.png) center;

}

/*Responsive Styling*/

@media only screen and (max-width: 1024px){
  li a {
    padding: 20px 0;
  }
}

@media only screen and (max-width: 768px){

  .logo {
    padding-bottom: 10px;
  }

  #menu-icon {
    display: inline-block;
    float: right;
    margin-top:5px;
  }

  nav ul, nav:active ul {
    display: none;
    position: absolute;
    padding: 20px;
    background: #fff;
    border: 1px solid #444;
    right: 20px;
    top: 45px;
    width: 25%;
    border-radius: 1px 0 4px 4px;
  }

  nav li {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  li a {
    color: #4bbf6b;
    padding: 5px 0;
  }

  nav:hover ul{
    display: block;
  }
}
