/* Global Styles */
* {
  box-styling: border-box;
}
body {
  font-family: 'Lato', sans-serif;
}

/* NavBar Styles */
.navBar ul {
  margin: 0;
}

 .navBar {
   background: #4bbf6b;
   min-height: 150px;
 }

.navBar li {
    display: inline-block;
    list-style-type: none;
}

.navBar li:first-child {
  margin-left: 50%;
}

.navBar li:last-child {
  margin-right: 10px;
}

.navBar li a {
  text-decoration: none;
  display: inline-block;
  color: #FFF;
  padding: 20px 20px;
}

/* Partners Page Styles */

.partners {
  text-align: center;
  font-size: 2em;
  font-family: 'Galada', cursive;
}

.partner {
  width: 40%;
  border: 2px solid black;
  padding: 1%;
}

.partner p {
  max-height: 100px;
}

.left {
  float: left;
  margin: 2% 1.5% 1% 6%;
}

.right {
  float: right;
  margin: 2% 6% 1% 1.5%;
}

.partnerLogo {
  display: block;
  margin: 0 auto;
  max-height: 200px;
  max-width: 100%;
}

#ethicalElectric {
  display: block;
  margin: 0 auto;
  height: 100px;
  max-width: 100%;
}

#ethicalElectric > p {
  min-height: 300px;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

